<div class="card shadow mb-3">
  <div class="card-header py-3">
    <h4 class="text-primary m-0 font-weight-bold">Mi Comunidad</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-4"><strong>Comunidad:</strong></div>
      <div class="col-8">{{ communityStatistics.communityName | titlecase }}</div>
    </div>

    <hr>

    <div class="row">
      <div class="col-8"><strong>Cantidad de Miembros:</strong></div>
      <div class="col-4 text-right">{{ communityStatistics.totalMembers | number }}</div>
    </div>

    <hr>

    <div class="row">
      <div class="col-8"><strong>Cantidad de Libros:</strong></div>
      <div class="col-4 text-right">{{ communityStatistics.copies.totalCopies | number }}</div>
    </div>

    <hr>


    <!-- Seccion Autores-->
    <div class="row">
      <div class="col">

        <div class="row mb-2">
          <div class="col"><h5>Autores</h5></div>
        </div>

        <div class="row mb-3">
          <div class="col-8"><strong>Total Autores:</strong></div>
          <div class="col-4 text-right">{{ communityStatistics.copies.authors.total | number }}</div>
        </div>

        <!-- Títulos por Autor-->
        <div class="row">
          <div class="col">

            <div class="row">
              <div class="col">
                <h6><strong>Libros por Autor</strong></h6>
              </div>
            </div>


            <div class="row">
              <div class="col">

                <div *ngFor="let author of communityStatistics.copies.authors.copiesByAuthor" class="row">
                  <div class="col-8">{{author._id | titlecase}}:</div>
                  <div class="col-4 text-right">{{author.totalCopies | number}}</div>
                </div>


              </div>
            </div>

          </div>
        </div>
        <!-- Fin titulos por autor -->

      </div>
    </div>
    <!-- Fin seccion autores -->


    <hr>

    <!-- Seccion Géneros-->
    <div class="row">
      <div class="col">

        <div class="row mb-2">
          <div class="col"><h5>Géneros</h5></div>
        </div>

        <div class="row mb-3">
          <div class="col-8"><strong>Total Géneros:</strong></div>
          <div class="col-4 text-right">{{ communityStatistics.copies.genres.total | number }}</div>
        </div>

        <!-- Títulos por Género-->
        <div class="row">
          <div class="col">

            <div class="row">
              <div class="col">
                <h6><strong>Libros por Género</strong></h6>
              </div>
            </div>


            <div class="row">
              <div class="col">

                <div *ngFor="let genre of communityStatistics.copies.genres.copiesByGenre" class="row">
                  <div class="col-8">{{genre._id | titlecase}}:</div>
                  <div class="col-4 text-right">{{genre.totalCopies | number}}</div>
                </div>


              </div>
            </div>

          </div>
        </div>
        <!-- Fin titulos por género -->

      </div>
    </div>
    <!-- Fin seccion genre -->



  </div>



</div>

