<div class="container-fluid">
<!--  <h3 class="text-dark mb-1">Home</h3>-->
  <div class="row mb-3">
    <div class="col-md-3 col-sm-12">
      <app-books-statistics></app-books-statistics>
    </div>
    <div class="col-md-3 col-sm-12">
      <app-community-statistics></app-community-statistics>
    </div>
    <div class="col-md-3 col-sm-12">
      <app-follow-statistics></app-follow-statistics>
    </div>
    <div class="col-md-3 col-sm-12">
      <app-my-copies-statistics></app-my-copies-statistics>
    </div>

  </div>
</div>

