<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
  <div class="container-fluid d-flex flex-column p-0">
    <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
      <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
      <div class="sidebar-brand-text mx-3"><span>ShareBooks</span></div>
    </a>
    <hr class="sidebar-divider my-0">

<!--    id="accordionSidebar"-->


    <ul *ngIf="this.meService.me" class="nav navbar-nav text-light" >

      <li class="nav-item" role="presentation"><a class="nav-link" href="index.html"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>

      <hr class="sidebar-divider my-0">

      <!-- Menu Biblioteca-->
      <li *ngIf="this.meService.me.comunidad" class="nav-item"  role="presentation" >
        <a class="nav-link"  routerLinkActive="active" [routerLink]="['/biblioteca']" routerLinkActive="active" >
          <i class="fas fa-table"></i><span>Biblioteca</span>
        </a>
        <div class="container-fluid">
          <ul class="nav navbar-nav text-light">

            <li class="nav-item" role="presentation">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/biblioteca', 'books']">
                <i class="fas fa-atlas"></i><span>Todos los Libros</span>
              </a>
            </li>

            <li class="nav-item" role="presentation">
              <a class="nav-link"  routerLinkActive="active" [routerLink]="['/biblioteca', 'authors']">
                <i class="fas fa-pen-fancy"></i><span>Autores</span>
              </a>
            </li>

          </ul>
        </div>
      </li>
      <!-- Fin Menu mi comunidad-->

      <hr class="sidebar-divider my-0">


      <!-- Menu mi comunidad-->
      <li *ngIf="this.meService.me.comunidad" class="nav-item"  role="presentation" >
        <a class="nav-link"  routerLinkActive="active" [routerLink]="['/comunidad']" routerLinkActive="active" >
          <i class="fas fa-hands-helping"></i><span>Mi comunidad</span>
        </a>
        <div class="container-fluid">
          <ul class="nav navbar-nav text-light">
            <li class="nav-item" role="presentation"><a class="nav-link" routerLinkActive="active" [routerLink]="['/comunidad', 'users']"><i class="fas fa-users"></i><span>Miembros</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link"  routerLinkActive="active" [routerLink]="['/comunidad', 'books']"><i class="fas fa-book"></i><span>Libros</span></a></li>
          </ul>
        </div>
      </li>
      <!-- Fin Menu mi comunidad-->

      <hr class="sidebar-divider my-0">



      <li *ngIf="this.meService.me.comunidad" class="nav-item"  role="presentation" >

        <a class="nav-link"  routerLinkActive="active" [routerLink]="['/amigos']" routerLinkActive="active" >
          <i class="fas fa-users"></i><span>Mis Amigos</span>
        </a>

        <div class="container-fluid">
          <ul class="nav navbar-nav text-light">
            <li class="nav-item" role="presentation"><a class="nav-link" routerLinkActive="active" [routerLink]="['/amigos', 'following']"><span>Siguiendo</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link"  routerLinkActive="active" [routerLink]="['/amigos', 'followers']"><span>Te siguen</span></a></li>
          </ul>

        </div>

      </li>

      <hr class="sidebar-divider my-0">













      <li class="nav-item" role="presentation" >
        <a class="nav-link" routerLinkActive="active" >
          <i class="fas fa-users"></i><span>Mi comunidad</span>
        </a>
      </li>


      <li class="nav-item" role="presentation"><a class="nav-link" href="table.html"><i class="fas fa-table"></i><span>Table</span></a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Login</span></a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" href="register.html"><i class="fas fa-user-circle"></i><span>Register</span></a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span>Forgotten Password</span></a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" href="404.html"><i class="fas fa-exclamation-circle"></i><span>Page Not Found</span></a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" href="blank.html"><i class="fas fa-window-maximize"></i><span>Blank Page</span></a></li>
    </ul>
<!--    <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>-->
  </div>
</nav>
